# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and ecosystem are summarized

# **Objectives:**

- List popular languages for Data Scientists
- Commonly used libraries for Data Scientists
- Evauluating arethmetic expressions in Python

# Some of the popular language that Data Scientists use are:

1. Python
2. SQL
3. R

# Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Tensorflow

In [ ]:
| Data Science Tools |
| ------------------ |
| Apache Hadoop |
| Apache Spark |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This is a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [10]:
# This will convert 200 minites to hours by dividing by 60

200/60

3.3333333333333335

## Author
Greg Stewart